@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('./img/bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
h1 {
    font-size: 52px;
    color: #242466;
    font-weight: 600;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.4));
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
button {
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    color: #262672;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
    background-color: #ffffff1e;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
button:hover {
    transform: scale(1.1);
}
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
    cursor: pointer;
}
.navbar h5 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    color: #242466;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}
.socials{
    position: absolute;
    right: 0;
    margin-right: 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials img{
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}
.socials img.x{
    height: 30px;
    width: 30px;
    margin: 10px;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.4));
}
.socials img:hover{
    transform: scale(1.1);
}
.socials img:not(:hover){
    transition-delay: .1s;
}
footer {
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: 60px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: #1f1f1f81;
    display: flex;
    justify-content: space-between;
    position: static;
    margin-bottom: 0;
    bottom: 0;
}
footer p {
    text-align: center;
   font-weight: 300;
   margin: 20px;
   color: #fff;
   filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.4));
}
a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 400px) {
    
    .navbar h5 {
       display: none;
    }
  }
  .video {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
  }
iframe {
    border-radius: 15px;
    filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.4));
    padding-left: 10px;
    padding-right: 10px;
  }